:root {
  /* paleta de cores */
  --black: #000;
  --blue-9: #031D38;
  --blue-2: #A2D3E1; /* adicionado */
  --cyan-4: #5CA5B5; /* adicionado */
  --cyan-3: #C8E2DF;
  --cyan-2: #3F95A9;
  --cyan-5: #337F98;
  --purple-9: #160041;
  --white: #FFF;
  --white-light: #FEFEFE;
  --green: #1FC625; /* adicionado */

  --title: 'Raleway', sans-serif;
  --text: 'Montserrat', sans-serif;
}

/* fontes */
.font-1 {
  font-family: 'Montserrat', sans-serif;
}

.font-2 {
  font-family: 'Raleway', sans-serif;
}
