header>div:first-child {
    /* faixa azul acima do cabeçalho com telefone e link(botão) "Agende sua consulta" */
    align-items: center;
    background-color: var(--azul-escuro);
    display: flex;
    font-family: var(--texto);
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    justify-content: flex-end;
    width: 100%;
}
/* telefone */
header>div:first-child>span {
    color: var(--branco);
}
/* (botão) "Agende sua consulta" */
header>div:first-child>a {
    align-items: center;
    background-color: var(--branco);
    border-radius: 5px;
    color: var(--azul-roxo);
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    margin: 0 5.5%;
    min-width: 185px;
    max-width: 208px;
    text-decoration: none;
    text-align: center;
}

header>div:nth-child(2) {
    align-items: center;
    background-color: var(--branco);
    color: var(--azul-roxo);
    display: flex;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--titulo);
    height: 100px;
    justify-content: space-around;
    text-transform: uppercase;
    width: 100%;
}

.header_logo {
    height: 85px;
    margin: 0 3%;
    max-width: 235px;
    min-width: 150px;
}

#show_menu ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#show_menu ul li {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 16px;
    white-space: nowrap;
}

#show_menu ul a {
    align-items: center;
    display: flex;
    color: var(--azul-roxo);
    text-decoration: none;
}

header>div:nth-child(2)>a {
    align-items: center;
    background: var(--azul-roxo);
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 3% 0 0;
    text-decoration: none;
    width: 100px;
}

.mobile-menu-hamburguer {
    display: none;
    margin-right: 1em;
}

.mobile-menu-hamburguer div {
    height: 2px;
    background: var(--azul-roxo);
    margin: 8px;
    width: 32px;
}

.mobile-menu-hamburguer:hover {
    cursor: pointer;
}

.show_menu{
    display: block!important;
    animation: fadein 1s alternate;
    -webkit-animation: fadein 1s alternate;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 1024px) {
    .nav_menu {
        background: var(--branco);
        display: none;
        height: auto;
        top: 150px;
        right: 0;
        border: 2px var(--branco);
        width: 100%;
        position: absolute;
        z-index: 999;
    }
    
    .nav_menu ul {
        flex-direction: column;
    }

    .mobile-menu-hamburguer {
        display: block;
    }
}
    
@media screen and (max-width: 432px) {
    header>div:first-child {
        font-size: 16px;
        justify-content: space-evenly;
    }
    
    header>div:first-child>a {
        margin: 0;
    }
}

/* pagina ADM - painel de controle */

#menu__link__usuario {
    padding-right: 40px;
}

#menu__link__clinica {
    padding-right: 40px;
}

/* --------------------------------- header do painel adm ---------------------------------------- */

/* estilo dos botoes "voltar" e "logout" - mesmas propriedades do cabecalho__link__login */
#cabecalho_link_adm {
    align-items: center;
    background: var(--azul-roxo);
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 3% 0 0;
    text-decoration: none;
    width: 100px;
}

/* espaçamento do telefone na faixa azul, seguindo o espaçamento da pagina principal de 5.5% */
#faixa_adm {
    margin: 0 5.5%;
}
/* cor do texto "Ola!"Nome do usuário"" */
#menu__link__usuario {
    color: var(--azul-roxo);
}
